# General
.DS_Store
Thumbs.db
*.log
.gemini

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
*.env
.env.*
!.env.example

# Node / Frontend
node_modules/
dist/
.output/
.nuxt/
coverage/
.local

# IDE
.vscode/
.idea/

# User Specific
test*
Test*
ingestion_errors.jsonl