fastapi
uvicorn[standard]
TikTokLive>=6.0.0  # ตรวจสอบ version ล่าสุดอีกที
redis
sqlalchemy
asyncpg            # Driver Postgres แบบ Async ที่เร็วที่สุด
psycopg2-binary    # Driver Postgres แบบ Sync (สำหรับ test script)
pydantic-settings
python-dotenv